@model Citum
@{
    ViewData["Title"] = "Editar Cita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Editar Cita</h2>

<form asp-action="EditarCita" class="row g-3" method="post" id="citaForm">
    <input type="hidden" asp-for="IdCita" />
    <div class="col-md-6">
        <label asp-for="FechadelacitaCita" class="form-label">Fecha de la Cita</label>
        <input asp-for="FechadelacitaCita" id="fechaCita" class="form-control" type="date" required />
        <span asp-validation-for="FechadelacitaCita" class="text-danger" id="fechaError"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="HoradelacitaCita" class="form-label">Hora de la Cita</label>
        <input asp-for="HoradelacitaCita" id="horaCita" class="form-control" type="time" required />
        <span asp-validation-for="HoradelacitaCita" class="text-danger"></span>
    </div>


    <div class="form-row">
        <div class="form-group">
            <label asp-for="Motivo" class="form-label">Motivo Consulta</label>
            <textarea id="alergias_consulta" maxlength="8000" asp-for="Motivo" min="0" name="AlergiasConsulta" placeholder="motivo" type="text" class="form-control"></textarea>
            <span asp-validation-for="Motivo" class="text-danger"></span>

        </div>
    </div>


    <input type="hidden" asp-for="UsuarioId" value="@Model.UsuarioId" />
    <input type="hidden" asp-for="PacienteId" value="@Model.PacienteId" />
    <input type="hidden" asp-for="UsuariocreacionCita" value="@ViewBag.MedicoNombre" />

    <div class="col-12 text-center">
        <button type="button" onclick="consultarCita()" class="btn btn-secondary me-2">Consultar Cita</button>
        <button type="submit" id="crearCitaBtn" class="btn btn-primary">Actualizar Cita</button>
    </div>
</form>

<!-- Formulario de Horas Disponibles -->
<div id="formHorasDisponibles" style="display: none;">
    <h2>Horas Disponibles</h2>
    <button type="button" class="btn btn-danger" onclick="cerrarFormularioHoras()">Cerrar</button>
    <div id="hoursContainer" class="hours-grid"></div>
</div>

<!-- Estilos -->
<style>
    /* Estilos para el formulario de horas disponibles */
    #formHorasDisponibles {
        margin-top: 30px; /* Separación superior para distinguirlo del formulario principal */
        padding: 20px; /* Espacio interior */
        background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

        #formHorasDisponibles h2 {
            font-size: 24px; /* Tamaño de fuente */
            font-weight: bold; /* Peso de fuente */
            margin-bottom: 20px; /* Separación inferior */
            text-align: center; /* Centrar el texto */
        }

    /* Estilos para la cuadrícula de horas */
    .hours-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    /* Estilos para las tarjetas de horas */
    .hour-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s, background-color 0.3s;
    }

        .hour-card:hover {
            transform: scale(1.05);
            background-color: #e0e0e0;
        }

        .hour-card img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
</style>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Configurar la fecha mínima para el campo de fecha
        const fechaCitaInput = document.getElementById('fechaCita');
        const today = new Date().toISOString().split('T')[0];
        fechaCitaInput.min = today;
    });

    function consultarCita() {
        const fechaCita = document.getElementById('fechaCita').value;
        const medicoId = document.getElementById('UsuarioId').value;

        if (fechaCita && medicoId) {
            // Realizar la llamada AJAX al controlador CitaController
            $.ajax({
                url: '/Appointment/ObtenerHorasDisponibles',
                type: 'POST',
                data: {
                    fechaCita: fechaCita,
                    medicoId: medicoId
                },
                success: function (response) {
                    displayAvailableHours(response);
                    document.getElementById('formHorasDisponibles').style.display = 'block';
                },
                error: function (error) {
                    console.error('Error al obtener las horas disponibles:', error);
                    Swal.fire('Error', 'Error al obtener las horas disponibles.', 'error');
                }
            });
        } else {
            Swal.fire('Advertencia', 'Por favor, seleccione una fecha.', 'warning');
        }
    }

    function displayAvailableHours(hours) {
        const container = document.getElementById('hoursContainer');
        container.innerHTML = ''; // Limpiar contenido previo

        if (hours && hours.length > 0) {
            hours.forEach(hour => {
                const card = document.createElement('div');
                card.className = 'hour-card';

                const img = document.createElement('img');
                img.src = '/images/free-doctor-icon-313-thumb.png'; // Ajusta esto según la imagen que quieras mostrar

                const time = document.createElement('div');
                time.textContent = hour;

                card.appendChild(img);
                card.appendChild(time);
                container.appendChild(card);

                // Puedes agregar un evento click para seleccionar la hora
                card.addEventListener('click', function () {
                    Swal.fire({
                        title: 'Confirmar selección',
                        text: `¿Estás seguro de que deseas seleccionar la hora: ${hour}?`,
                        icon: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Sí',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById('horaCita').value = hour; // Asigna el valor seleccionado al input hidden
                            document.getElementById('formHorasDisponibles').style.display = 'none';
                            validarCampos(); // Verificar campos después de seleccionar la hora
                        }
                    });
                });
            });
        } else {
            container.innerHTML = '<p>No hay horas disponibles</p>';
        }
    }

    function validarCampos() {
        const fecha = document.getElementById('fechaCita').value;
        const hora = document.getElementById('horaCita').value;

        const crearCitaBtn = document.getElementById('crearCitaBtn');
        const fechaError = document.getElementById('fechaError').textContent;

        if (fecha && hora && !fechaError) {
            crearCitaBtn.removeAttribute('disabled');
        } else {
            crearCitaBtn.setAttribute('disabled', true);
        }
    }

    function cerrarFormularioHoras() {
        document.getElementById('formHorasDisponibles').style.display = 'none';
    }

    // Agregar un manejador para el envío del formulario
    document.getElementById('citaForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevenir el envío del formulario tradicional

        // Realizar la llamada AJAX para enviar el formulario
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: 'Cita actualizada',
                        text: 'La cita ha sido actualizada con éxito.',
                        icon: 'success',
                        timer: 3000,
                        timerProgressBar: true,
                        showConfirmButton: false,
                        willClose: () => {
                            window.location.href = '/Appointment/ListarCitas';
                        }
                    });
                } else {
                    console.error('Errores:', response.errors);
                    Swal.fire('Error', 'Hubo un problema al actualizar la cita: ' + (response.message || 'Errores de validación.'), 'error');
                }
            },
            error: function (error) {
                console.error('Error al actualizar la cita:', error);
                Swal.fire('Error', 'Hubo un problema al actualizar la cita.', 'error');
            }
        });
    });
</script>
